@tailwind base;
@tailwind components;
@tailwind utilities;

.iframe{
    width: 122vmin !important; 
    height: 70vmin !important;
}

.iframe2{
    width: 32.5vmin !important; 
    height: 18.5vmin !important;
}